<!DOCTYPE html>
<html>
<head>
    <title>User's Page</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="javascripts/userInfo.js"></script>
</head>
<body ng-app="userInfoApp" ng-controller="userInfoCtrl">
    <h1>Fit-Track</h1>
    <p id="introLoggedInParagraph">Welcome back to the Fit-Track fitness tracking application! Use the boxes below to update a custom diet and weight loss plan.</br>
Note: Each goal must be unique.</p>
    <div id="logoutDiv">
        <button ng-click="deleteCookie()">Logout</button>
    </div>
    <div id="parentDiv">
        <div id="goalsDiv">
            <h2 id="fitnessGoalsHeader">Goals:</h2>
            <!--<h3 id="longTermHeader">Long Term Goals:</h3>-->
            <h4>Desired Completion Date: <span id="longCompletion" ng-bind="longCompletionDate"></span></h4>
            <ul id="longTermList" ng-repeat="longGoal in longTerm">
                <span><li class="listItems">{{longGoal}}<button type="submit" ng-click="deleteLongGoal(longGoal)" class="deleteGoalButtons">Delete Goal</button></li></span>
            </ul>
            <form>
                <span>Add a new goal: <input type="text" ng-model="newLongTerm"></span>
                <button type="submit" ng-click="addLongTerm()" class="goalsButton">Submit</button>
            </form>
            <!--
            <h3 id="shorTermHeader">Short Term Goals:</h3>
            <h4>Desired Completion Date: <span id="shortCompletion" ng-bind="shortCompletionDate"></span></h4>
            <ul id="shortTermList"></ul>
            <form>
                <span>Add a new short-term goal: <input type="text" ng-model="newShortTerm"></span>
                <button type="submit" ng-click="addShortTerm()" class="goalsButton">Submit</button>
            </form>
            <h3 id="dailyGoals">Daily Goals:</h3>
            <h4>Desired Completion Date: <span id="dailyCompletion" ng-bind="dailyCompletionDate"></span></h4>
            <ul id="dailyGoals"></ul>
            <form>
                <span>Add a new daily goal: <input type="text" ng-model="newDaily"></span>
                <button type="submit" ng-click="addDaily()" class="goalsButton">Submit</button>
            </form>
            -->
        </div>
    </div>
</body>
</html>

<!-- Things to still do for this assignment: 
 -Change the schema for the databse. 
 -Wipe everything in database/reset it (if I have time). 
 -Be able to write to the database lists. 
 -Connect to database for when the user logs in. Display what they have already added to lists.
 -Adding hashing to passwords (if I have time). 