<!DOCTYPE html>
<html>
<head>
    <title>Sign-up</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="javascripts/user.js"></script>
</head>

<body ng-app="userApp" ng-controller="userCtrl">
    <h1>On-Track</h1>
    <p class="introParagraph">Welcome to the On-Track goal setting application. Please sign up to create 
    your own personal goals list.</p>
    
    <div id="signUp">
        <form>
            <p>Sign-up</p>
            Username: <input type="text" id="usernameInput" class="input" ng-model="signUpUsername"></br>
            Password: <input type="password" id="passwordInformation" ng-model="signUpPassword" class="input"></br>
            Confirm Password: <input type="password" ng-model="signUpConfirmPassword" class="input"></br>
            <button ng-click="submitSignUp()" type="submit" id="passwordSubmit">Submit</button>
        </form>
    </div>
    
    <div id="linkToHome"><a href="http://18.216.163.75:8080">To go back to the home page, click here!</a></div>
    
    <div class="cookiesMessage">
        <p>Note: This website uses cookies for login purposes. By creating an account on this webite, or logging in, you 
            are agreeing to allowing such cookies to be used.</p>
    </div>
    
</body>
</html>